{% extends 'base.html' %}

{% block title %}Scan Page{% endblock %}

{% block content %}

<div class="container">
    <h2>ADSentinel Reports </h2>
    <table class="report-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>날짜</th>
                <th>상태</th>
                <th>도메인</th>
                <th>Samba 버전</th>
                <th>대상 OS</th>
                <!--<th>상세 검사 결과</th>-->
            </tr>
        </thead>
        <tbody>
            {% for record in scan_records %}
            <tr>
                <td><a href="{% url 'scan' scan_id=record.id %}">target {{ record.ip_address }}</a></td>
                <td>{{ record.timestamp }}</td>
                <td><span class="{{ record.status_class }}">{{ record.status }}</span></td>
                <td>{{ record.domain }}</td>
                <td>{{ record.samba_version }}</td>
                <td>{{ record.target_os }}</td>
                <!--
                <td>
                    <ul>
                        {% for result in record.adsentinel_results %}
                            <li>{{ result.vulc_id }}: {{ result.status }} - {{ result.details }}</li>
                        {% endfor %}
                    </ul>
                </td>
                -->
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">검사 기록이 없습니다.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
